<!DOCTYPE html>
<html>
    <head>
        <title>Nova Saída do Sge</title>
    </head>
    <body>
        <div class="container">
            <p><h3>Nova saída registrada no SGE!</h3></p><br>
            <p>Produto: <b>{{ product }}</b></p>
            <p>Quantidade: <b>{{ quantity }}</b></p>
            <p>Valor de Venda: <b>{{ total_value }}</b></p>
            <p>Lucro: <b>{{ profit_value }}</b></p>
            <br><br>
            <p>
                Anteciosamente, <br>
                Sistema de Gestão de Estoque(SGE)
            </p>
        </div>
    </body>
</html>